@model ArraysAtOne_Final.Models.SENSOR_0001203B

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SENSOR_0001203B</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
