@model ArraysAtOne_Final.Models.SENSOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SENSOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.threshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.threshold)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
